<div class="container-fluid">
  <form [formGroup]="incidentForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="id">ID</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
              <input class="form-control"
                     id="id"
                     type="text"
                     formControlName="id"
                     readonly
              >
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="client">Client</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              <input class="form-control"
                     id="client"
                     type="text"
                     formControlName="client"
                     [readOnly]="editMode"
              >
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="region">Region</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
              <input class="form-control"
                     id="region"
                     type="text"
                     formControlName="region"
                     [readOnly]="editMode"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="priority">Priority</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-flag"></span></span>
              <input class="form-control"
                     id="priority"
                     type="text"
                     formControlName="priority"
              >
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="status">Status</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              <input class="form-control"
                     id="status"
                     type="text"
                     formControlName="status"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <label for="title">Title</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
              <input class="form-control"
                     id="title"
                     type="text"
                     formControlName="title"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <label for="description">Description</label>
              <textarea class="form-control"
                        id="description"
                        rows="10"
                        formControlName="description"
              >
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <div class="btn-toolbar">
              <button
                type="submit"
                class="btn btn-primary btn-block"
                *ngIf="editMode == false"
                [disabled]="!incidentForm.valid || !incidentForm.valid"
              >Save</button>
              <button
                type="submit"
                class="btn btn-primary btn-block"
                *ngIf="editMode == true"
                [disabled]="!incidentForm.dirty || !incidentForm.valid || !editMode"
              >Update</button>
              <button
                type="button"
                (click)="cancel()"
                class="btn btn-default btn-block"
              >Cancel</button>
            </div>
          </div>
        </div>
      </div>
  </form>
</div>
