<form [formGroup]="incidentForm">
  <div class="form-group">
    <label for="id">Incident ID</label>
    <input class="form-control"
           id="id"
           type="text"
           formControlName="id"
    >
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control"
           id="title"
           type="text"
           formControlName="title"
    >
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <input class="form-control"
           id="priority"
           type="text"
           formControlName="priority"
    >
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control"
              id="description"
              rows="4"
              formControlName="description"
    >
    </textarea>
  </div>
</form>
