<div class="container-fluid">
  <form [formGroup]="incidentForm">
    <fieldset>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="id">ID</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
              <input class="form-control"
                     id="id"
                     type="text"
                     formControlName="id"
                     readonly
              >
            </div>
          </div>
        </div>
        <div formArrayName="client">
          <div class="row"
               *ngFor="let incidentCtrl of getControls(); let i = index"
               [formGroupName]="i">
            <div class="col-sm-3">
              <div class="form-group">
                <label>Client</label>
                <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                  <input class="form-control"
                         type="text"
                         formControlName="name"
                  >
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label>Region</label>
                <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
                  <input class="form-control"
                         type="text"
                         formControlName="region"
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="priority">Priority</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-flag"></span></span>
              <input class="form-control"
                     id="priority"
                     type="text"
                     formControlName="priority"
              >
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="status">Status</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
              <input class="form-control"
                     id="status"
                     type="text"
                     formControlName="status"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <label for="title">Title</label>
            <div class="input-group"> <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
              <input class="form-control"
                     id="title"
                     type="text"
                     formControlName="title"
              >
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <label for="description">Description</label>
              <textarea class="form-control"
                        id="description"
                        rows="10"
                        formControlName="description"
              >
            </textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="form-group">
            <div class="btn-toolbar">
              <button type="button" class="btn btn-primary btn-block" *ngIf="editMode == true" [disabled]="!incidentForm.valid">Resolve</button>
              <button type="button" class="btn btn-primary btn-block" *ngIf="editMode == false" [disabled]="!incidentForm.valid || !incidentForm.valid">Save</button>
              <button type="button" class="btn btn-success btn-block" *ngIf="editMode == true" [disabled]="!incidentForm.dirty || !incidentForm.valid || !editMode">Update</button>
              <button type="button" class="btn btn-default btn-block">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
